@import url('https://fonts.googleapis.com/css?family=Courier');

.background-settings {
    background-color:#404040 !important;
} 

.header-limit {
    font-family: 'Courier' !important;
    font-size: large;
}

.header-graph{
    font-family: 'Courier' !important;
    font-size: large;
    text-align: center;
}